<body class="background">
    <div class="pannel" id="center" >
        <div>
            <img src="../../assets/man-icon.png" class="img">
        </div>
        <div class="form" id="right" >
            <h1>User Login</h1>
            
            <form [formGroup]="profileForm" (ngSubmit)="onSubmit()">

                <mat-form-field appearance="fill" class="input">
                    <span matPrefix>
                        <mat-icon matPrefix>email</mat-icon><br>
                    </span>
                    <mat-label>Email</mat-label>

                    <input matInput type="email" formControlName="email">
                </mat-form-field>

                <mat-form-field appearance="fill" class="input">
                    <span matPrefix>
                        <mat-icon matPrefix>lock</mat-icon><br>
                    </span>
                    <mat-label>Password</mat-label>
                    <input matInput type="password" formControlName="password">
                </mat-form-field>

                <button class="submit" [disabled]="!profileForm.valid" id="center" mat-raised-button>Submit</button> 
              </form>
            
        </div>
        
      </div>
</body>
