.centered{
    margin-top: 50px;
    margin-left: 50px;
    margin-right: 25px;
}
.btn1{
    width: 100px;
    margin-left: auto;
}
#upload-photo {
    opacity: 0;
    position: absolute;
    z-index: -1;
    border: 1rem;
 }
 .img{
     background-color: gray;
     height: 300px;
 }