<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

<a routerLink="/table" class="btn btn-info btn-lg">
    <span class="glyphicon glyphicon-circle-arrow-left"></span> Back
  </a>

<div class="centered">
    <mat-card fxFlex="50" fxLayout="column">
        <br>
        <div style="padding-left: 70%;">
            <label for="upload-photo">Upload</label>
            <input name="photo" id="upload-photo" type="file" (change)="onSelectFile($event)" >
        </div>
        <div class="img centered" >
            <img  class="img" [src]="url" fxLayoutAlign="stretch">
        </div> 
    </mat-card>
</div>